.qaList{
    height: 100vh;
    width: 100vw;
    background: linear-gradient( black, red);
    padding-top: 1px;
}
.qaList form{
    display: block;
    max-width: 700px;
    margin: 5px auto;
}
.qa{
    display: flex;
    color: white;
    background: rgb(5, 3, 3);
    /* border: 5px solid rgb(139, 35, 35); */
    border: 1px solid rgb(192, 85, 85);
    border-radius: 15px;
    margin-top: 2px;
}
.q{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}
.a-parent{
    width: 45%;
    border-left: 1px solid rgb(153, 43, 43);
    padding: 5px 0 5px 10px;
}
.a{
    width: 95%;
    border-bottom: 1px solid rgb(54, 53, 53);
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}
.qaList button{
    background:black;
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin: 6px auto;
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: large;
}
.Modal{
    height: 80vh;
    margin: auto;
    background: linear-gradient( black, red);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Modal h1{
    color: rgb(243, 7, 7);
    text-align: center;
    width: 80%;
    max-width: 500px;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    border-bottom: 2px solid black;
    border-radius: 10px;
}
.Modal button{
    background:black;
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin: 6px auto;
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: large;
    max-width: 250px;
}