.Paginate{
    display: flex;
    padding-bottom: 15px;
}
.Paginate li {
    list-style-type: none;
    padding: 5px 15px;
    border: 2px solid white;
    color: white;
}
.Paginate a{
    text-decoration: none;
}
